
{% extends "base.html" %}
{% load url from future %}

{% block content %}

<div class="row">
    <div class="sixcol">
        <p class="welcome">
        </p>
    </div>
</div>

<div class="row">
    <div class="fivecol">

        <p class="info"><strong>Your password is now changed!</strong></p>

        <p class="info">Head on over to the <a href="/">main page</a> and start saving bookmarks!
        Also, drag the bookmarklet to your bookmark bar to get on this sexy band wagon.</p>

    </div>
</div>

{% endblock %}


