
{% extends "base.html" %}
{% load url from future %}

{% block content %}

<div class="row">
    <div class="sixcol">
        <p class="welcome">
        </p>
    </div>
</div>

<div class="row">
    <div class="fivecol">

    {% if user.is_authenticated %}
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}

        <form class="register" method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
            {% csrf_token %}
            <label for="id_old_password">{{ form.old_password.label_tag }}</label><br />
            {{ form.old_password }}<br /><br />

            <label for="id_new_password1">{{ form.new_password1.label_tag }}</label><br />
            {{ form.new_password1 }}<br /><br />

            <label for="id_new_password2">{{ form.new_password2.label_tag }}</label><br />
            {{ form.new_password2 }}<br /><br />

            <input type="submit" value="login" />
    </form>

    {% else %}
        <p class="info">You'll need to log in before we can change your password. Sorry!<p>

        <p class="info">Fortunately, it's really easy to fix. Just 
        <a href="/accounts/login/?next=/accounts/changepassword/">login</a>! 
        We'll redirect you back here afterwards.</p>
    {% endif %}

    </div>
</div>

{% endblock %}

