{% extends "base.html" %}
{% load url from future %}

{% block content %}

<div class="row">
    <div class="sixcol">
        <p class="welcome">
        Hi. Let me introduce myself, I'm <strong>marked</strong>. I
        aim to take care of your bookmarks. Anywhere. On your phone, your desktop, and
        your tablet. If it has a web browser, I'll play nicely. I like to do things
        as simply as possible. I'm clarity for your post bookmarkist world.
        (pronounced: post book marxist)</p>

        <p class="welcome">
        We're currently in closed ultra ghetto beta.</p>
    </div>
</div>

<div class="row">
    <div class="fivecol">

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form class="login" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <label for="id_username">{{ form.username.label_tag }}</label><br />
            {{ form.username }}<br /><br />

            <label for="id_password">{{ form.password.label_tag }}</label><br />
            {{ form.password }}<br /><br />

            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>

{% endblock %}
