<select id="nav-select">
    <optgroup label="me">

        {% ifequal path "/profile/"|add:user.username|add:"/" %}
            <option value="/profile/{{ user }}/" selected="selected">home</option>
        {% else %}
            <option value="/profile/{{ user }}/">home</option>
        {% endifequal %}

        {% ifequal path "/profile/"|add:user.username|add:"/all/" %}
            <option value="/profile/{{ user }}/all/" selected="selected">all my marks</a>
        {% else %}
            <option value="/profile/{{ user }}/all/">all my marks</a>
        {% endifequal %}
        
        {% ifequal path "/profile/"|add:user.username|add:"/favorites/" %}
            <option value="/profile/{{ user }}/favorites/" selected="selected">favorites</option>
        {% else %}
            <option value="/profile/{{ user }}/favorites/">favorites</option>
        {% endifequal %}

    </optgroup> 

    <optgroup label="others">

        {% ifequal path "/everyone/" %}
            <option value="/everyone/" selected="selected">everyone</option>
        {% else %}
            <option value="/everyone/">everyone</option>
        {% endifequal %}
        
        {% ifequal path "/recent/" %}
            <option value="/recent/" selected="selected">recent</option>
        {% else %}
            <option value="/recent/">recent</option>
        {% endifequal %}

        {% if show_user %}
            {% ifnotequal show_user user.username %}
                <option value="/profile/{{ showuser }}/" selected="selected">{{ show_user }}</option>
            {% endifnotequal %}
        {% endif %}

    </optgroup>

    {% if user.is_staff %}
    <optgroup label="admin">

        {% ifequal path "/zeus/" %}
            <option value="/zeus/" selected="selected">zeus main</option>
        {% else %}
            <option value="/zeus/">zeus main</option>
        {% endifequal %}
        
    </optgroup>
    {% endif %} {# are they staff? #}
</select>
