<p class="info">
    Welcome! It looks like you haven't saved any marks yet.
    All you need to do, to get started, is to drag the <strong>marklet</strong>
    link in the top right of this site to your browser's bookmark bar.
</p>

<p class="info">
    Then, click that marklet in your browser
    bar whenever you're on a site that you want save for later.
</p>

<p class="info">
    Once you start saving marks, they'll show up right
    here on your home page.
</p>

<p class="info">
    Pretty easy, huh?
</p>
