<div class="row">

    {% if user.is_authenticated %}

    {% if not no_marks %}
        <div class="threecol">
            <p><a href="/profile/{{ user }}/">home</a></p>
            <p><a href="/profile/{{ user }}/all/">all my marks</a></p>
            <p><a href="/profile/{{ user }}/favorites/">favorites</a></p>

            <p class="padded">
                {% if user.is_staff %}
                    <a href="{% url zeus_home %}">zeus</a>
                {% endif %}
            </p>

            <p class="padded">
                <a href="/accounts/logout/" class="logout">logout</a>
            </p>
        </div>

        <div class="threecol">
            <p><a href="/everyone/">everyone</a></p>
            <p><a href="/recent/">recent</a></p>
        </div>

        <div class="onecol"></div>

    {% endif %} {# not no_marks #}
    
    <div class="threecol">

        <p>
            Suggestions? Questions? Comments? Problems? Someone
            you'd like to invite to marked?
            Hang out and play Starcraft? Don't hesitate to hit us
            up. 
        </p>

        <p class="padded">
            <a href="mailto:hello@goodnightstudio.com">
                hello (at) goodnightstudio.com
            </a>
        </p>
        
    </div>

    {% else %}

    <div class="threecol">

        <p>If you're super anxious about getting in, email us: 
        hello&nbsp;(at)&nbsp;goodnightstudio.com. To increase your chances
        of getting in, include a couple links of what you would share.</p>

    {% endif %}
</div>
