<div class="row">

    <div class="threecol">
        <p><a href="/profile/{{ user }}/">home</a></p>
        <p><a href="/profile/{{ user }}/all/">all my marks</a></p>
        <p><a href="/profile/{{ user }}/favorites/">favorites</a></p>

        <p class="padded">
            <a href="/accounts/logout/" class="logout">logout</a>
        </p>
    </div>

    <div class="threecol">
        <p><a href="/everyone/">everyone</a></p>
        <p><a href="/recent/">recent</a></p>
    </div>

    <div class="onecol"></div>
    
    <div class="threecol">

        <p>
            Suggestions? Questions? Comments? Problems? Someone
            you'd like to invite to marked?
            Hang out and play Starcraft? Don't hesitate to hit us
            up. 
        </p>

        <p class="padded">
            <a href="mailto:hello@goodnightstudio.com">
                hello (at) goodnightstudio.com
            </a>
        </p>
        
    </div>
</div>
