<div class="row">
    <div class="fourcol">
        <p class="welcome">
        Hi. Let me introduce myself, I'm <strong>marked</strong>. I
        aim to take care of your bookmarks. Anywhere. On your phone, your desktop,
        your tablet. If it has a web browser, I'll play nicely. I like to do things
        as simple as possible. I'm clarity for your post bookmarkist world.
        (pronounced: post book marxist)</p>

        <p class="welcome">
        We're currently in closed ultra ghetto beta. If you have a login, please do so
        <a href="/accounts/login/">log in.</a></p>
    </div>

    <div class="eightcol last">
    </div>
</div>
