{% extends "base.html" %}

{% load favorites_extras %}

{% block site-name %}
    <a href="/" title="return to your marked">marked</a>(by everyone)
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% for markuser in users %}

<div class="row pad marks">

    <div class="twocol pad">
        <p class="user"><b>
            <a href="/profile/{{ markuser.user }}/">{{ markuser.user.username }}</a>
        </b></p>

        {% ifequal markuser.user user %}
            <p class="light">this is you</p>
        {% endifequal %}
    </div>

    <div class="sevencol pad">
        {% for mark in markuser.three_recent_set %}
            <div class="marks">
                <h3>
                    <a href="{{ mark.url }}" class="mark" target="_blank">
                        {% if mark.title %}
                            {{ mark.title }}
                        {% else %}
                            {{ mark.url|domain_only }}
                        {% endif %}
                    </a>
                    {% ifnotequal markuser.user user %}
                        {% if mark.id|not_favorited_by:user.id %}
                            <a href="/mark/{{ mark.id }}/favorite/?redirect=everyone" class="favorite">+fav</a>
                        {% else %}
                            <a href="/mark/{{ mark.id }}/unfavorite/?redirect=everyone" class="favorite favorited">+fav</a>
                        {% endif %}
                    {% endifnotequal %}
                </h3>
                <a href="{{ mark.url }}" class="mark" target="_blank">{{ mark.url|urlizetrunc:50 }}</a>&nbsp;
                <p class="time">added {{ mark.added|timesince }} ago</p>
            </div>
            <div class="pad"></div>
        {% endfor %}

    </div>

    <div class="threecol last">
    </div>

</div>

{% endfor %} {# markuser in users #}


</div>
{% else %}
    {% include 'includes/not_authenticated.html' %}
{% endif %}

{% endblock content %}


