{% extends "base.html" %}

{% block site-name %}mark(ing){% endblock site-name %}

{% block extra-head %}

<script>
    $(document).ready( function() {
        $('a.private').click(function() {
            $('input#privacy').val('private');
            $('#save_form').submit();
            return false;
        });

        $('a.public').click(function() {
            $('input#privacy').val('public');
            $('#save_form').submit();
            return false;
        });
    });
</script>

{% endblock extra-head %}

{% block content %}

{% if user.is_authenticated %}

<div class="row big-pad">
    <div class="sevencol">
        <p class="info">
            Sweet link! Now, we just need you to verify the mark and set it
            as public or private.
        </p>
    </div>
</div>

<div class="save row">
    <div class="sevencol">
        <form method="post" action="{% url bookmarks.views.bookmarklet_save %}" class="save" id="save_form">
            {% csrf_token %}
            <p><input type='text' name="title" id="title" value="{{ title }}" /></p>
            <p class="link"><a href="{{ link }}">{{ link }}</a></p>
            <p><input type="hidden" name="link" value="{{ link }}" /></p>
            <p><input type="hidden" name="privacy" id="privacy" value="public" /></p>
            <p><a href="#" class="privacy private">post private</a>&nbsp;
            <a href="#" class="privacy public">post public</a></p>
            <input type="submit" value="add mark" />
        </form>
    </div>
</div>


{% else %}

<div class="row pad">
    <div class="fourcol">
        <p class="info">Sorry, but you need to be <a href="/accounts/login/">logged in</a>!</p>
    </div>
</div>

{% endif %}

{% endblock content %}

