{% extends "base.html" %}

{% block site-name %}
    <a href="/" title="return to your marked">marked</a>(500)
{% endblock %}

{% block content %}

<div class="row pad">
    <div class="fivecol"> 
        <p class="welcome">
            Hrmm... well, this is embarrassing. It seems that something
            has gone awry with our server.

            If this continues, don't hesitate to contact us.
        </p>
        <p class="welcome">
            <a href="mailto:hello@goodnightstudio.com">hello (at) goodnightstudio.com</a>
        </p>
    </div>
</div>

{% endblock content %}


