<!DOCTYPE html>
<html>
<head>

    {% include 'includes/head.html' %}
    {% block extra-head %}
    {% endblock extra-head %}

</head>
<body>
    <div class="container top">
        <div class="row">
            <div class="sevencol">
                <h1 class="site-title">
                    {% block site-name %}
                        <a href="/" title="return to your marked">marked.</a>
                    {% endblock site-name %}</h1>

            </div>
            <div class="twocol dropdown">
                {% if user.is_authenticated %}
                    {% if not no_marks %}
                        {% include 'includes/dropdown.html' %}
                    {% endif %}
                {% endif %}
            </div>

            <div class="threecol last logout login">
                <ul class="top_links">
                    <li>
                        <a href="http://considerthatmarked.tumblr.com/">blog</a>
                    </li>

                    <li>
                        {% if user.is_authenticated %}
                                <!--<a href="javascript:(function(){ window.open('http://localhost:8000/save/?link='+encodeURIComponent(location.href)+'&title='+document.title); })();" class="drag">bookmarklet (debug)</a>-->
                                <a id="bookmarklet" href="javascript:(function(){ window.open('http://marked.goodnightstudio.com/save/?link='+encodeURIComponent(location.href)+'&title='+document.title); })();" class="drag">marklet</a>
                        {% endif %}
                    </li>

                    <li>
                        {% if user.is_authenticated %}
                            <a href="/accounts/logout/" class="logout">logout</a>
                        {% else %}
                            <a href="/accounts/login/?next=/" class="logout">login</a>
                        {% endif %}
                    </li>
                </ul>

            </div>

        </div>

    </div>

    {% if messages %}
    <div class="container messages">

        <div class="row messages">
            <div class="twelvecol last">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    {% endif %} {# endif messages #}

    <div class="container content">

        
                
        {% block content %}

        {% endblock content %}
    </div>

    <div class="container footer">
        {% include "includes/footer.html" %}
    </div>
 
</body>
</html>

