{% extends "base.html" %}

{% block site-name %}
    {% if not page_owner %}
        <a href="/" title="return to your marked">marked</a>(by {{ show_user}})
    {% else %}
        <a href="/" title="return to your marked">marked</a>
    {% endif %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<!--
   -<div class="row pad">
   -    <div class="fourcol">
   -        <form method="post" action="/">
   -            {% csrf_token %}
   -            <label for="link"></label>
   -            <input type='text' value="" name="link" id="link" />
   -            <input type="submit" value="add mark" />
   -        </form>
   -    </div>
   -</div>
   -->

{% if no_marks and page_owner %}
<div class="row pad">
    <div class="fivecol">
        <p class="info">
            Welcome! It looks like you haven't saved any marks yet.
            All you need to do, to get started, is to drag the bookmarklet
            in the top right of this site to your browser's bookmark bar.
        </p>

        <p class="info">
            Then, click that bookmarklet in your browser
            bar whenever you're on a site that you want save for later.
        </p>

        <p class="info">
            Once you start saving marks, they'll show up right
            here on your home page.
        </p>

        <p class="info">
            Pretty easy, huh?
        </p>
    </div>
</div>
{% endif %}

{% if no_marks and not page_owner %}
<div class="row pad">
    <div class="fivecol">
        <p class="info light">
            Hrm. It doesn't look like this user has saved any public marks.
            That's sad. :(
        </p>
    </div>
</div>
{% endif %}

<div class="row pad marks">
    <div class="sevencol">

        {% for mark in marks %}
            <div class="marks pad">
                <h3><a href="{{ mark.url }}" class="mark" target="_blank">{{ mark.title }}</a></h3>
                <a href="{{ mark.url }}" class="mark" target="_blank">{{ mark.url|urlizetrunc:50 }}</a>&nbsp;
                {% if page_owner %}
                    {% if mark.public %}
                        <a href="/mark/{{ mark.pk }}/view/" class="privacy public" alt="public" title="{{ mark.pk }}: public">#</a>
                    {% else %}
                        <a href="/mark/{{ mark.pk }}/view/" class="privacy private" alt="private" title="{{ mark.pk }}: private">#</a>
                    {% endif %}

                    <!--<a href="/mark/{{ mark.pk }}/delete/" class="delete">delete</a>-->
                {% endif %}
                {% if not page_owner %}
                        <!--<a href="/mark/{{ recent.id }}/favorite/">+fav</a>-->
                {% endif %}
                <p class="time">added {{ mark.added|timesince }} ago</p>
            </div>
        {% endfor %}

    </div>

    <div class="fourcol">
       
        {% if not no_marks %}
            {% if page_owner %}
                {% for recent in latest %}
                    <div class="recent marks pad">
                        <h3 class="light"><a href="{{ recent.url }}" class="latest light" target="_blank">{{ recent.title }}</a></h3>
                        <span class="light"><a href="/profile/{{ recent.owner }}/">{{ recent.owner }}</a></span>
                        <span class="light"> {{ recent.added|timesince }} ago </span>
                        {# I don't like this #}
                        {% for favorite in favorites %}
                            {% ifequal recent.id favorite.bookmark.id  %}
                                true
                            {% endifequal %}
                        {% endfor %}

                        {{ recent.favorited_by }}
                        <a href="/mark/{{ recent.id }}/favorite/">+fav</a>
                    </div>
                {% endfor %} {# end recent marks #}

                {% for favorite in favorites %}
                    {% if forloop.counter <= 10 %}
                        <div class="favorites marks pad">
                            <h3 class="light"><a href="{{ favorite.bookmark.url }}" class="latest light" target="_blank">{{ favorite.bookmark.title }}</a></h3>
                            <span class="light"><a href="/profile/{{ favorite.bookmark.owner }}/">{{ favorite.bookmark.owner }}</a></span>
                        </div>
                    {% endif %}
                {% endfor %} {# end favorites #}
            {% endif %}

        {% endif %}
    </div>

    <div class="onecol last">
    </div>

</div>


{% else %}

<div class="row">
    <div class="fourcol">
        <p class="welcome">
        Hi. Let me introduce myself, I'm <strong>marked</strong>. I
        aim to take care of your bookmarks. Anywhere. On your phone, your desktop,
        your tablet. If it has a web browser, I'll play nicely. I like to do things
        as simple as possible. I'm clarity for your post bookmarkist world.
        (pronounced: post book marxist)</p>

        <p class="welcome">
        We're currently in closed ultra ghetto beta. If you have a login, please do so
        <a href="/accounts/login/">log in.</a></p>
    </div>

    <div class="eightcol last">
    </div>
</div>

{% endif %}

{% endblock content %}
