{% extends "base.html" %}

{% load favorites_extras %}

{% block site-name %}
    {% if not page_owner %}
        <a href="/" title="return to your marked">marked</a>(by {{ show_user}})
    {% else %}
        <a href="/" title="return to your marked">marked</a>
    {% endif %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if no_marks and page_owner %}
<div class="row pad">
    <div class="fivecol">
        {% include 'includes/first_login.html' %}
    </div>
</div>
{% endif %}

{% if no_marks and not page_owner %}
<div class="row pad">
    <div class="fivecol">
        <p class="info light">
            Hrm. It doesn't look like this user has saved any public marks.
            That's sad. :(
        </p>
    </div>
</div>
{% endif %}

<div class="row pad marks">
    <div class="sevencol">
        {% include 'includes/list_marks.html' %}

    </div>

    <div class="fourcol">
       
        {% if not no_marks %}
            {% if page_owner %}

                {% include 'includes/recent_module.html' %} 

            {% endif %}     {# if page_owner #}

        {% endif %}
    </div>

    <div class="onecol last">
    </div>

</div>


{% else %}

    {% include 'includes/not_authenticated.html' %}

{% endif %}

{% endblock content %}
